<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="footer__social-container">
          <ul>
            <li>
              <a href="">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="bi bi-whatsapp"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-9 justify-content-end d-lg-flex">
        <div class="footer__quick-links">
          <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['about-us']">About Us</a></li>
            <li><a [routerLink]="['our-products']">Our Products</a></li>
            <li><a [routerLink]="['contact-us']">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer__copyright text-center">
          <p>Copyright © 2023 GelaToh Designed by <a href="#">Grand brands</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid footer__bg">
  </div>
</section>
