<section class="title spacing-100">
  <img class="d-none d-lg-block" *ngIf="img != 'null'" src="{{ img }}" alt="milk background">
  <div data-aos="fade-up" class="title__warning">
    {{ warning }}
  </div>
  <div data-aos="fade-up" class="title__tag-line">
    Minimum order <strong>quantity is 40+</strong>
  </div>
  <div data-aos="fade-up" class="title__heading">
    {{ heading }}
  </div>
  <div data-aos="fade-up" class="title__sub-heading">
    {{ subHeading }}
  </div>
  <div data-aos="fade-up" class="title__content">
    <p>{{ content }}</p>
  </div>
</section>
