<section class="subscribe spacing-100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="subscribe__content-container" data-aos="fade-right">
          <div class="subscribe__title">
            You have awesome combos? <br />
            Let the others know and try!
          </div>
          <div class="subscribe__content">
            Join millions of self learning cooks on the globe.
          </div>
          <div class="btn secondary mt-3">
            Register Now!
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="subscribe__card" data-aos="fade-left">
          <div class="subscribe__card-title subscribe__title">
            Stay informed with new <br /> recipes and culinary news
          </div>
          <div class="subscribe__card-content subscribe__content">
            Subscribe to our mailing list, we wont spam.
          </div>
          <div class="subscribe__card__input">
            <form class="contact-form" (submit)="sendEmail($event)">
              <div class="input-group mb-3">
                <input type="email" name="user_email" class="form-control" placeholder="Your email address" aria-label="Your email address" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <input class="input-group-text" type="submit" value="Send">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
