.contact-us {

  &__row {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 60px;
    text-align: center;

    @media (min-width: 1024px) {
      font-size: 36px;
      line-height: 40px;
    }

    i {
      font-size: 55px;
    }
  }

  &__content {
    margin-top: 30px;
    color: #000;
    display: block;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #f79b8a;
    }
  }

}
