<section class="about-us overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="banner__product-img">
          <img data-aos="fade-up" src="/assets/images/about-bg.png" alt="">
          <a [routerLink]="['/contact-us']" data-aos="fade-up" class="btn primary"><span>Order Now</span> <i class="bi bi-arrow-right-short"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <app-title img="null" warning="Not suitable for children younger than 18" tagLine="Minimum order quantity is 40+" heading="About us" subHeading="gelatoh creme liqueur ice cream and cakes." content="We manufacture and sell a varity of alcoholic ice cream flours and birthday/wedding cakes."></app-title>
      </div>
    </div>
  </div>

  <div data-aos="fade-up" class="container-fluid about-us__img">
    <div class="row">
    </div>
  </div>

  <app-subscribe></app-subscribe>

</section>
